/XML_JAXBGenJavaFromXML/nbproject/private/
/XML_JAXBGenJavaFromXML/build/
/XML_JAXB_CaseStudy1/nbproject/private/
/XML_JAXB_CaseStudy1/build/
/PracXML/nbproject/private/
/PracXML/build/
/PracXML/dist/
/ATM/nbproject/private/
/ATM/build/
/WebScrapping/nbproject/private/
/WebScrapping/build/
/DemoSinglePineline/nbproject/private/
/DemoSinglePineline/build/
/DemoMultiplePineline/nbproject/private/
/DemoMultiplePineline/build/
/ProjectPRXTest/nbproject/private/
/ProjectPRXTest/build/
/CustomerDB/nbproject/private/
/ProjectPRXDev/nbproject/private/
/ProjectPRXDev/build/
/ProjectPRXDev/dist/
/CookingIsFun/nbproject/private/
/CookingIsFun/build/
/CookingIsFun/dist/
/HelloWorld/nbproject/private/